mixin executionPane(status, executions)
	.tab-pane(id="executions-#{status}")
		each execution in executions
			+ executionTable(execution)

mixin executionTab(status, size)
	li
		a(href="#executions-#{status}",id="executions-#{status}-tab",class="btn btn-#{status2bootstrap[status] || 'ALL'}",data-toggle="tab")
			= status
			|&nbsp[#{size}]


mixin executionTable(execution)
	table(class="table status-#{execution.status}")
		tr
			th.col-md-2 ID
			td
				a(href="#{execution.uri}")= execution._id
		tr
			th.col-md-2 Progress
			td
				.progress
					.progress-bar(style="width: #{execution.progress}%")
						= execution.progress
		each val,field in execution
			if field !== 'log' && field !== '_id' && field !== 'progress' && field !== '__v'
				tr
					th= field
					td
						if typeof val === 'object'
							ul
								each link in val
									if link.indexOf('http') == 0
										li
											a(href="#{link}")= link
									else
										li= val
						else
							= val
		tr.outputFiles
			th.col-md-2 outputFiles
			td
				ul
					each outputFile in execution.outputFiles
						li
							a(href="#{outputFile}")= outputFile
		tr.log
			th.col-md-2 log
			td.col-md-10
				ul.list-unstyled
					each logEntry in execution.log
						if logEntry.indexOf("INFO") === 0
							li.btn-success.logEntry= logEntry
						else if logEntry.indexOf("FATAL") === 0
							li.btn-danger.logEntry= logEntry
						else
							li.btn-info.logEntry= logEntry
						//- if logEntry.indexOf('{') > -1 && logEntry.indexOf('}') > -1
						//-   - toparse = logEntry.substring(logEntry.indexOf('{'), logEntry.lastIndexOf('}')+1)
						//-   li.logEntry
						//-     pre.col-md-5= JSON.stringify(JSON.parse(toparse), null, 2)

