extends ./layout.jade

block title
	| Datasetify your PDFs

block help
	p Demo, Demon, Demonstrate

block libs
	style.
		.progress-bar a {
			color:white;
			font-size: 1.5em;
			font-weight-bold;
		}
	script
		:coffee-script
			extractText = (ev) ->
				infolinkClient.extractText ev.uris, {
					onStarted : (ev) ->
						bar = Bootstrap.createProgressBar(ev.uri, '#text-extractor-progress')
						bar.append($("<a>").append(ev.uri))
					onProgress : (ev) ->
						console.log ev
						Bootstrap.getProgressBar(ev.uri, '#text-extractor-progress').text(ev.uri)
						$('#text-extractor-progress .progress-bar').css('width', ev.progress + '%')
					onComplete : (err, execution) ->
						console.log arguments
						$('#text-execution-uri').append(
							$("<div>").attr('class', "text-execution-#{execution._id}"))
						$('#text-extractor-progress .progress-bar').css('width', execution.progress + '%')
				}
			uploadFiles = ->
				$('.demo').empty()
				infolinkClient.uploadFiles {
					selector: "#file"
					onStarted: (ev) ->
						bar = Bootstrap.createProgressBar("file-#{ev.fileIdx}", '#upload-progress')
						bar.html($("<a>")
							.css('color', 'white')
							.html(ev.file.name))
					onProgress: (ev) ->
						Bootstrap.setProgressBar("file-#{ev.fileIdx}", ev.percent)
					onError: (ev) ->
						Bootstrap.getProgressBar("file-#{ev.fileIdx}").addClass('progress-bar-danger')
					onSuccess: (ev) ->
						bar = Bootstrap.getProgressBar("file-#{ev.fileIdx}")
						bar.addClass('progress-bar-success')
						$("a", bar).attr('href', ev.uri)
					onComplete: extractText
				}
			$ ->
				$('#foo').on 'click', uploadFiles

block content
	.row
		.col-md-10.col-md-offset-1
			h1 Upload a PDF, Get Datasets
	.row
		.col-md-4.col-md-offset-2
			form.form
				.form-group
					input.form-control#file(type="file",multiple=true)
				.form-group
					input.form-control.btn.btn-success#foo(type="button",value="Analyze")
	.row
		.col-md-2 Upload Progress
		.col-md-8.demo#upload-progress
	.row
		.col-md-2 Text Extraction Progress
		.col-md-8.demo#text-extractor-progress
	.row
		.col-md-2 Text Extraction Output Files
		.col-md-8.demo
			ul#text-execution-output-uri
