| // ==UserScript==
| // @name        Infolis Greasemonkey
| // @namespace   #{CONFIG.baseURI}
| // @description Upload PDF to Infolis
| // @require     #{CONFIG.baseURI}/client.js
| // @require     #{CONFIG.baseURI}/vendor/notie.js/notie.js
| // @require     https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js
| // @include     http://localhost:3000/*
| // @include     http://infolis.gesis.org/*
| // @include     http://infolis.github.io/*
| // @noframes    
| // @updateURL   #{CONFIG.baseURI}/play/infolis.user.js
| // @version     1.#{new Date().getTime()}
| // @grant       GM_xmlhttpRequest
| // @grant       GM_getValue
| // @grant       GM_setValue
| // @grant       GM_log
| // ==/UserScript==
