//- layout.jade
doctype html
html
	head
		title
			block title
				title Default title

		link(rel="icon",type="image/png",href="#{site_github}/img/logo-circle.png")

		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.0/jquery.scrollTo.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css")
		link(rel="stylesheet", href="http://getbootstrap.com/assets/css/docs.min.css")

		script(src="#{site_api}/client.js")
		script.
			infolinkClient = new InfolinkClient({
				"baseURI": "#{CONFIG.baseURI}",
				"debug": true
			})

		block css

		block libs

		link(rel="stylesheet", href="#{site_github}/css/style.css")

	body
		include ./header.jade
		a.btn.btn-lg.btn-danger#help-button(role="button",data-toggle="collapse",data-target="#help")
			span.glyphicon.glyphicon-question-sign
		div.container-fluid
			.row.collapse#help
				.col-md-12
					.bs-callout.bs-callout-info
						block help
			block content
		script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js")
		script(src="#{site_api}/vendor/notie.js/notie.js")
