extends ./layout.jade
block title
	title Monitor backend
block content
	- infolis2bootstrap = {"FINISHED": "success", "FAILED": 'danger', "PENDING": "warning", "STARTED": "info"}
	.row
		.col-md-10.executions

			h1 Executions

			ul.nav.nav-tabs
					each status in statuses
						li
							a(href="#executions-#{status}",class="btn btn-#{infolis2bootstrap[status]}",data-toggle="tab")
								= status
								|&nbsp[#{byStatus[status].length}]
			.tab-content
				each status in statuses
					.tab-pane(id="executions-#{status}")
						each execution in byStatus[status]
							table(class="table status-#{status}")
								tr
									th ID
									td
										a(href="#{execution.uri}")= execution._id
								each field in ["startTime", "endTime", "progress"]
									tr
										th= field
										td= execution[field]
								tr.log
									th log
									td
										ul
											each logEntry in execution.log
												li.logEntry= logEntry
