extends ./layout.jade

include ./mixins/executionTable.jade

block title
	| Monitor Execution #{execution}

block help
	include:markdown ../help/monitor.md

block content
	.row
		.col-md-10
			h1 Execution&nbsp;
				a(href="#{CONFIG.baseURI}/api/#{execution._id}")
					| #{CONFIG.basePath}/api/#{execution._id}
	.row
		.col-md-12
			+ executionTable(execution)

