extends ./layout.jade

block title
	| Monitor backend

block help
	include:markdown ../help/monitor.md

include ./mixins/executionTable.jade

mixin executionPane(status, executions)
	.tab-pane(id="executions-#{status}")
		each execution in executions
			+ executionTable(execution)

mixin executionTab(status, size)
	li
		a(href="#executions-#{status}",id="executions-#{status}-tab",class="btn btn-#{status2bootstrap[status] || 'ALL'}",data-toggle="tab")
			= status
			|&nbsp[#{size}]


block content
	- status2bootstrap = {"FINISHED": "success", "FAILED": 'danger', "PENDING": "warning", "STARTED": "info"}
	- level2bootstrap = {"INFO": "success", "FATAL": 'danger'}
	script
		:coffee-script
			$ ->
				$("#executions-ALL-tab").tab('show')
	.row
		.col-md-10.executions
			h1 Executions
			ul.nav.nav-tabs
				+ executionTab("ALL", allExecutions.length)
				each status in statuses
					+ executionTab(status, byStatus[status].length)
			.tab-content
				+ executionPane("ALL", allExecutions)
				each status in statuses
					+ executionPane(status, byStatus[status])
