extends ./layout.jade
block title
	title Infolis API Explorer
block css
	link(href='#{site_api}/vendor/swagger/css/reset.css', media='screen', rel='stylesheet', type='text/css')
	link(href='#{site_api}/vendor/swagger/css/typography.css', media='screen', rel='stylesheet', type='text/css')
	link(href='#{site_api}/vendor/swagger/css/screen.css', media='screen', rel='stylesheet', type='text/css')
	link(href='#{site_api}/vendor/swagger/css/print.css', media='print', rel='stylesheet', type='text/css')
block libs
	script(src='#{site_api}/vendor/swagger/lib/jquery.slideto.min.js', type='text/javascript')
	script(src='#{site_api}/vendor/swagger/lib/jquery.wiggle.min.js', type='text/javascript')
	script(src='#{site_api}/vendor/swagger/lib/jquery.ba-bbq.min.js', type='text/javascript')
	script(src='#{site_api}/vendor/swagger/lib/handlebars-2.0.0.js', type='text/javascript')
	script(src='#{site_api}/vendor/swagger/lib/underscore-min.js', type='text/javascript')
	script(src='#{site_api}/vendor/swagger/lib/backbone-min.js', type='text/javascript')
	script(src='#{site_api}/vendor/swagger/swagger-ui.min.js', type='text/javascript')
	script(src='#{site_api}/vendor/swagger/lib/highlight.7.3.pack.js', type='text/javascript')
	script(src='#{site_api}/vendor/swagger/lib/marked.js', type='text/javascript')
	script(src='#{site_api}/vendor/swagger/lib/swagger-oauth.js', type='text/javascript')
block content
	script.
		$(function () {
		  var url = "/infolink/swagger.json";
		
		  // Pre load translate...
		  if(window.SwaggerTranslator) {
		    window.SwaggerTranslator.translate();
		  }
		  window.swaggerUi = new SwaggerUi({
		    url: url,
		    dom_id: "swagger-ui-container",
		    supportedSubmitMethods: ['get', 'post', 'put', 'delete', 'patch'],
		    onComplete: function(swaggerApi, swaggerUi){
		      $(".container .container").removeClass("container");
		      $("#api_info").hide();
		      $('pre code').each(function(i, e) {
		        hljs.highlightBlock(e)
		      });
		
		    },
		    onFailure: function(data) {
		      log("Unable to Load SwaggerUI");
		    },
		    docExpansion: "none",
		    apisSorter: "alpha",
		    showRequestHeaders: false
		  });
		
		  window.swaggerUi.load();
		  function log() {
		    if ('console' in window) {
		      console.log.apply(console, arguments);
		    }
		  }
		});
	.swagger-section
		#swagger-ui-container.swagger-ui-wrap
