extends ./layout.jade
block title
	title= title
block libs
	script(src="#{site_api}/vendor/viz.js")
	script.
		$(function() {
			$('li[data-format="#{format}"] a').parents('li').addClass('active');
			var profile = "#{profile}";
			if ("" !== profile) {
				profile = profile.substring(profile.lastIndexOf('#')+1)
				//- $('li[data-profile="' + profile + '"] a').parents('li').addClass('active');
			}
		});
block content
	#rdf.hidden
		!= rdf

	.row
		.col-md-8.col-md-offset-1
			h1 #{title} [#{format}]
			ul.nav.nav-pills
				li(data-format="text/html") #[a(href="?format=text/html") HTML Table]
				li.dropdown
					a.dropdown-toggle(data-toggle="dropdown")
						| RDF
						span.caret
					ul.dropdown-menu
						li(data-format="text/turtle") #[a(href="?format=text/turtle") Turtle]
						li(data-format="application/ntriples") #[a(href="?format=application/ntriples") N-Triples]
						li(data-format="application/rdf+xml") #[a(href="?format=application/rdf+xml") RDF/XML]
						li(data-format="application/n3+json") #[a(href="?format=application/n3+json") N3.js JSON]
						li(data-format="application/json") #[a(href="?format=application/json") Plain JSON]
				li.dropdown
					a.dropdown-toggle(data-toggle="dropdown")
						| JSON-LD
						span.caret
					ul.dropdown-menu
						li(data-profile="flattened") #[a(href="?profile=flatten") JSON-LD (flattened)]
						li(data-profile="expanded") #[a(href="?profile=expand") JSON-LD (expanded)]
						li(data-profile="compacted") #[a(href="?profile=compact") JSON-LD (compact)]
				li(data-format="text/vnd.graphviz") #[a(href="?format=text/vnd.graphviz") GraphViz]

	.row
		.col-md-8.col-md-offset-1
			#triples-container
				if format == 'text/html'
					script.
						$(function(){
							var table = $("#rdf table").clone();
							//- table.removeClass('hidden');
							table.addClass('table');
							table.removeAttr('border');
							$("a", table).each(function() {
								var linkText = $(this).text();
								linkText = linkText.substring(linkText.lastIndexOf('#')+1)
								linkText = linkText.substring(linkText.lastIndexOf('/')+1)
								$(this).text(linkText);
							});
							$("#triples-container").append(table);
						});
				else if format == 'text/vnd.graphviz'
					script.
						$(function(){
							var rdfElem = document.getElementById("rdf")
							var svg = Viz(rdfElem.textContent, {format:"svg", engine:"dot"})
							document.getElementById('triples-container').innerHTML = svg
							$("#triples-container svg>g>text").remove();
							$("#triples-container svg").attr('width', '100%');
							$("#triples-container svg").attr('height', '100%');
						});
				else
					pre
						= rdf
