extends ./layout.jade

block title
	if is_ldf
		| InFoLiS Linked Data Fragments
	else
		| InFoLiS Triples View

block help
	if is_ldf
		p Them tasty fragments is tasty
	else
		p I sure like me my triples

block libs
	script(src="#{site_api}/vendor/viz.js")
	script.
		profile = "#{profile}"
		if (profile === "") profile = undefined
		format = "#{format}"
		is_ldf = !("#{is_ldf}" === "")
	script
		:coffee-script
			$ ->
				$('li[data-format="#{format}"] a').parents('li').addClass('active')
				if profile
					profile = profile.substring(profile.lastIndexOf('#')+1)
					$('li[data-profile="' + profile + '"] a').parents('li').addClass('active')
block content

	.row
		.col-md-12
			h2
				- uptonow = '/'
				each segment,idx in title.split('/')
					if idx > 0
						| &nbsp;/&nbsp;
						a(href="#{uptonow}#{segment}")= segment
						- uptonow = uptonow + segment + "/"
				code.small
					code [#{format}]
			if is_ldf
				form.form-horizontal
					.form-group
						label.col-md-2 Subject:
						.col-md-10
							input.form-control(type='text',name="subject",value="#{subject || ''}")
					.form-group
						label.col-md-2 Predicate:
						.col-md-10
							input.form-control(type='text',name="predicate",value="#{predicate || ''}")
					.form-group
						label.col-md-2 Object:
						.col-md-10
							input.form-control(type='text',name="object",value="#{object || ''}")
					.form-group
						.col-md-2.col-md-offset-2
							input.btn.btn-success.form-control(type="submit",value="Query")
			if title.indexOf('api/execution') > -1
				a(href="/api/monitor-one?uri=#{CONFIG.baseURI}#{title}") Monitor this execution
			ul.nav.nav-pills
				li(data-format="text/html") #[a(href="?format=text/html") HTML Table]
				li.dropdown
					a.dropdown-toggle(data-toggle="dropdown")
						| RDF
						span.caret
					ul.dropdown-menu
						li(data-format="text/turtle") #[a(href="?format=text/turtle") Turtle]
						li(data-format="application/ntriples") #[a(href="?format=application/ntriples") N-Triples]
						li(data-format="application/rdf+xml") #[a(href="?format=application/rdf+xml") RDF/XML]
						li(data-format="application/n3+json") #[a(href="?format=application/n3+json") N3.js JSON]
				li.dropdown
					a.dropdown-toggle(data-toggle="dropdown")
						| JSON-LD
						span.caret
					ul.dropdown-menu
						li(data-profile="flattened") #[a(href="?profile=flatten") JSON-LD (flattened)]
						li(data-profile="expanded") #[a(href="?profile=expand") JSON-LD (expanded)]
						li(data-profile="compacted") #[a(href="?profile=compact") JSON-LD (compact)]
				li(data-format="text/vnd.graphviz") #[a(href="?format=text/vnd.graphviz") GraphViz]

	.row
		.col-md-10
			#triples-container
				pre#rdf
					= rdf
			script
				:coffee-script
					$ ->
						rdfElem = document.getElementById("rdf")
						if format is 'text/html'
							table = $("table", $("<div/>").html($("#rdf").text()))
							table.addClass('table')
							table.removeAttr('border')
							$("a", table).each () ->
								linkText = $(@).text()
								linkText = linkText.substring(linkText.lastIndexOf('#')+1)
								linkText = linkText.substring(linkText.lastIndexOf('/')+1)
								$(@).text(linkText)
							$("#triples-container").html(table)
						else if format == 'text/vnd.graphviz'
							svg = Viz(rdfElem.textContent, format:"svg", engine:"dot")
							document.getElementById('triples-container').innerHTML = svg
							$("#triples-container svg>g>text").remove()
							$("#triples-container svg").attr('width', '100%')
							$("#triples-container svg").attr('height', '100%')
						else
							infolinkClient.syntaxHighlight {
								text: document.getElementById("rdf").textContent
								mimetype: '#{format}'
								selector: "#triples-container"
							}
