script(src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js")
script(src="#{CONFIG.site_github}/vendor/notie.js")
block footer
| <footer class="footer"> <div class="container-fluid"> <div class="row"> <div class="col col-sm-5 col-sm-offset-4 col col-lg-10 col-lg-offset-2"> <a href="http://bib.uni-mannheim.de"> <img src="#{CONFIG.site_github}/img/ubma-wt.png" title="Mannheim University Library"> </a> <a href="http://gesis.org"> <img src="#{CONFIG.site_github}/img/gesis-wt.png" title="GESIS – Leibniz Institute for the Social Sciences"> </a> <a href="http://hdm-stuttgart.de"> <img src="#{CONFIG.site_github}/img/hdm-wt.png" title="Stuttgart Media University (HDM)"> </a> <span class="hidden-sm hidden-xs hidden-md"> The InFoLiS project is funded by the <a href="http://dfg.de"> <img src="#{CONFIG.site_github}/img/dfg-wt.png" title="German Research Foundation (DFG)"> </a> </span> </div> </div> </div> </footer>
