script(src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js")
script(src="#{CONFIG.site_github}/vendor/notie.js")
block footer
! <footer class="footer"><div class="container-fluid"> <div class="row"> <div class="col col-sm-5 col-sm-offset-4 col col-lg-10 col-lg-offset-2"> <a href="http://bib.uni-mannheim.de"> <img src="#{site_github}/img/UBMA.png"> </a> <a href="http://gesis.org"> <img src="#{site_github}/img/gesis.png"> </a> <a href="http://hdm-stuttgart.de"> <img src="#{site_github}/img/hdm.png"> </a> <span class="hidden-sm hidden-xs hidden-md"> The InFoLiS project is funded by the <a href="http://www.dfg.de">German Research Foundation</a> <a href="http://dfg.de"> <img src="#{site_github}/img/dfg_logo.png"> </a> </span> </div> </div> </div></footer>

